.connection {
    text-align: center;
    position: absolute;
    background-color: black;
    padding: 30px;
    left: 4%;
    right: 4%;
    top: 40%;
    transform: translateY(-50%);
    border-radius: 12px;
}